.is-service{
  padding-top: 5%;
}

.left{
  display: block;
  float: left;
}
.right{
  display: block;
  float: right;
}


.etape{
  height: 150px;
  width: 150px;
  background-color: var(--dark);
  border-radius:100%;
}
#etape1:before{
content:  "1";
font-size:1rem;
font-weight: 800;
padding: 10px;
border-radius:100%;
background-color: var(--danger);
}












/* A rajouter a athena */
.margin-0-auto{
  margin: 0 auto;
}
.hero h5{
  font-family: 'Lato', 'sans-serif';
}
.is-10vh{
  height: 10vh;
}
.is-20vh{
  height: 20vh;
}
.is-30vh{
  height: 30vh;
}
.is-40vh{
  height: 40vh;
}
.is-50vh{
  height: 50vh;
}
.is-60vh{
  height: 60vh;
}
.is-70vh{
  height: 70vh;
}
.is-80vh{
  height: 70vh;
}.is-90vh{
  height: 70vh;
}.is-100vh{
  height: 70vh;
}




.night{
  background-image: var(--img-night);
  background-size: cover;
  background-position: center;
}
.fa-quote-right{
  padding-left:2rem;
padding-bottom: 5rem;
}
.fa-quote-left{
  padding-right:2rem;
  padding-bottom: 5rem;
}
.divider{
  background-color:var(--white);
  width: 10%;
  border: none;
  z-index:99999;
}